<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shopping Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div>
            <!--table to display items in the collction list index and item-->
            <table>
                <tr>
                    <th>Index</th>
                    <th>Item</th>
                </tr>
                <tr ng-repeat="x in items">
                    <td>{{$index}}</td>
                    <td>{{x}}</td>
                </tr>
            </table>
            <div class="options">
                <!--Input box to add items-->
                Add New Item : <input type="text" ng-model="newItem" />
                <button ng-click="addItem()">Add Item</button><br />
                <!-- Add a selection box to remove items-->
                Remove Item : <select ng-model="selectedItem">
                    <option ng-repeat="x in items">{{x}}</option>
                </select>
                <button ng-click="removeItem()">Remove Item</button>
            </div>
            <div>
                <h3>Number of Items in the collection is : {{items.length}} </h3>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", ["$scope", function ($scope) {
            $scope.items = [
                "pen", "pencil", "book", "eraser", "marker"
            ];

            $scope.addItem = function () {
                $scope.items.push($scope.newItem);
                $scope.newItem = "";
            };
            $scope.removeItem = function () {
                var index = $scope.items.indexOf($scope.selectedItem);
                $scope.items.splice(index, 1);
            };
        }]);
    </script>
</body>

</html>